{%extends "project/master2.html"%}
{%block content%}

<div class="container">
    {%load static%}
    <div class="common-dtel-img">
        <img src="{%static 'project/assets/img/about/c1.jpg'%}" alt="About Images">
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="common-dtel-text">
                
                <p>
                     سلام ! من فارغ التحصیل  فیزیولوژی ورزشی با اشتیاق به تدریس و انتقال دانش در حوزه شنا هستم .علاقمندی ام به شنا از دوران کودکی آغاز شد و همواره این ورزش مهیج را به یکی از جزهای ثابت زندگیم تبدیل کرده است . 
                </p>
                <p>
                      تجربه های من در زمینه فیزیولوژی ورزشی به عنوان یک متخصص در این حوزه به من ابزارهای قدرتمند برای بهبود عملکرد بهتر در شنا ارائه می دهد . آشنایی با نحوه عملکرد بدن تاثیر تمرینات بر عضلات ، قلب و ریه ها ، و بهبود وضعیت جسمی اجازه می دهد تا تمرینات شنا را با توجه به اصول علمی و بهینه سازی فیزیولوژیکی تدریس کنم .
                </p>
                <p>
                    تدریس شنا برای من از جمع آوری دانش  تا ایجاد ارتباط با شناگرانی که به بهتر شدن در این ورزش علاقه مندند لذت بخش است . هدف من در آکادمی شنا انتقال دانش و مهارتهای شنا به دانش آموزان با بهره گیری از دانش فیزیولوژی ورزشی به منظور بهبود عملکرد افزایش استقامت و حفظ سلامت جسمی و ذهنی آنهاست . 
                </p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="common-offer">
                <div class="drive-img">
                    <img src="{%static 'project/assets/img/about/c2.png'%}" alt="Images">
                </div>
                <div class="common-offer-text">
                    <h3>شنا را بیاموزید</h3>
                    
                    <a href="/contact" class="nav-link">
                        تماس با ما
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block title%}
<div class="conatiner">
    <div class="inner-title text-center">
        <h3>درباره ما</h3>
        <ul>
            <li>
                <a href="\">صفحه اصلی</a>
            </li>
            <li>
                <i class="fas fa-chevron-left"></i>
            </li>
            <li>
            درباره ما

            </li>
        </ul>
{%endblock%}