{%extends "project/master2.html"%}
{%block title%}

        <div class="conatiner">
            {%load static%}
            <div class="inner-title text-center">
                <h3>گالری</h3>
                <ul>
                    <li>
                        <a href="\">صفحه اصلی</a>
                    </li>
                    <li>
                        <i class="fas fa-chevron-left"></i>
                    </li>
                    <li>
                        گالری
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{%endblock%}

{%block content%}
<div class="section-title text-center mb-50">
    <span> گالری ما</span>
    <h2>عکس های شگفت انگیز روزانه ما</h2>
</div>
<div class="gallery-view">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="single-gallery">
                <img src="{%static 'project/assets/img/gallery/1.jpg'%}" alt="Gallery Images">
                    <a href="{%static 'project/assets/img/gallery/1.jpg'%}" class="single-icon">
                        <i class="fas fa-plus"></i>
                    </a>
                <div class="gallery-content">
                    <h3>دختر بچه شنا را یاد بگیرید</h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="single-gallery">
                <img src="{%static 'project/assets/img/gallery/2.jpg'%}" alt="Gallery Images">
                    <a href="{%static 'project/assets/img/gallery/2.jpg'%}" class="single-icon">
                        <i class="fas fa-plus"></i>
                    </a>
                <div class="gallery-content">
                    <h3>جان در مراسم شنا</h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="single-gallery">
                <img src="{%static 'project/assets/img/gallery/3.jpg'%}" alt="Gallery Images">
                    <a href="{%static 'project/assets/img/gallery/3.jpg'%}" class="single-icon">
                        <i class="fas fa-plus"></i>
                    </a>
                <div class="gallery-content">
                    <h3>دستورالعمل غواصی</h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="single-gallery">
                <img src="{%static 'project/assets/img/gallery/4.jpg'%}" alt="Gallery Images">
                    <a href="{%static 'project/assets/img/gallery/4.jpg'%}" class="single-icon">
                        <i class="fas fa-plus"></i>
                    </a>
                <div class="gallery-content">
                    <h3>غواصی زیر آب</h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="single-gallery">
                <img src="{%static 'project/assets/img/gallery/7.jpg'%}" alt="Gallery Images">
                    <a href="{%static 'project/assets/img/gallery/7.jpg'%}" class="single-icon">
                        <i class="fas fa-plus"></i>
                    </a>
                <div class="gallery-content">
                    <h3>دستورالعمل غواصی</h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="single-gallery">
                <img src="{%static 'project/assets/img/gallery/6.jpg'%}" alt="Gallery Images">
                    <a href="{%static 'project/assets/img/gallery/6.jpg'%}" class="single-icon">
                        <i class="fas fa-plus"></i>
                    </a>
                <div class="gallery-content">
                    <h3>یادگیری شنا در دریا</h3>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}