{%extends "project/master2.html"%}
{%block content%}

    <div class="container">
    
        <div class="section-title text-center mb-50">
            <span>مربیان ما</span>
            
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    
                    <div class="trainer-content">
                        <a href="instructor.html">
                            <h3>سپیده شهبازی</h3>
                        </a>
                        <span>مربی حرفه ای</span>
                        <div class="social-icon">
                            <ul>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    
                    <div class="trainer-content">
                        <a href="instructor.html">
                            <h3> مژگان نبی الهی</h3>
                        </a>
                        <span>مربی حرفه ای</span>
                        <div class="social-icon">
                            <ul>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
 
        </div>
    </div>

{%endblock%}
{%block title%}
<div class="d-table">
    <div class="d-table-cell">
        <div class="conatiner">
            <div class="inner-title text-center">
                <h3>مربی</h3>
                <ul>
                    <li>
                        <a href="\"> خانه </a>
                    </li>
                    <li>
                        <i class="fas fa-chevron-left"></i>
                    </li>
                    <li>
                        مربی
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%endblock%}