<!doctype html>
<html lang="fa" dir="rtl">
    <head>
        {%load static%}
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Swimming & Scuba Diving HTML Template" >
        <meta name="description" content="Swimming & Scuba Diving HTML Template">
        <meta name="author" content="Barat Hadian">

<link rel="stylesheet" href="{%static 'project/assets/css/bootstrap.rtl.min.css'%}">

<link rel="stylesheet" href="{%static 'project/assets/css/owl.carousel.min.css'%}">
<link rel="stylesheet" href="{%static 'project/assets/css/owl.theme.default.min.css'%}">

<link rel="stylesheet" href="{%static 'project/assets/css/magnific-popup.css'%}">

<link rel="stylesheet" href="{%static 'project/assets/css/animate.min.css'%}">

<link rel="stylesheet" href="{%static 'project/assets/fonts/flaticon.css'%}">

<link rel="stylesheet" href="{%static 'project/assets/css/fontawesome.css'%}">

<link rel="stylesheet" href="{%static 'project/assets/css/nice-select.min.css'%}">

<link rel="stylesheet" href="{%static 'project/assets/css/meanmenu.css'%}">

<link rel="stylesheet" href="{%static 'project/assets/css/style.css'%}">

<link rel="stylesheet" href="{%static 'project/assets/css/responsive.css'%}">

<link rel="stylesheet" href="{%static 'project/assets/css/rtl.css'%}">
        
        <!-- Title -->
        <title>آکادمی شنا</title>
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{%static 'project/assets/img/favicon.png'%}">
    </head>

    <body>
       

        <!-- Start Heder Area -->
        <header class="header-area top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="header-left">
                            <ul>
                                <li>
                                    <i class="fas fa-clock"></i>
                                   روز های فرد
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                  شهرکرد ، فرهنگیان استخر شهدای غواص
                                </li>
                                <li>
                                    <a href="tel:09903379549">
                                        <i class="fas fa-phone-alt"></i>
                                        09903379549سپیده شهبازی
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="social-icon">
                            <ul>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Heder Area -->

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="index.html" class="logo">
                    <img src="{%static 'project/assets/img/logo.png'%}" alt="Logo">
                </a>
            </div>

            <!-- Menu For Desktop Device -->
            <div class="main-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light ">
                        
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                       صفحه اصلی 
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        صفحات 
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        
                                        
                                        <li class="nav-item">
                                            <a href="/instructor" class="nav-link">
                                                مربی
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/courses" class="nav-link">
                                                دوره ها
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="gallery.html" class="nav-link">
                                        گالری
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/about" class="nav-link">
                                        درباره ما
                                    </a>
                                </li>
                               
                                    <ul class="dropdown-menu">
                                       
                                    </ul>
                                </li>
                               
                                <li class="nav-item">
                                    <a href="/contact" class="nav-link">
                                        تماس با ما
                                    </a>
                                </li>
                                
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Home Slider -->
        <div class="home-slider">
            <div class="slider-area owl-carousel owl-theme">
                <div class="slider-item slider-bg1">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="container">
                                <div class="slider-text">
                                    
                                    
                                    <div class="slider-btn">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider-item slider-bg2">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="container">
                                <div class="slider-text">
                                    

                                    <div class="slider-btn">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider-item slider-bg3">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="container">
                                <div class="slider-text">
                                    

                                    <div class="slider-btn">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Home Slider End -->

        <!-- Service Area -->
<section class="service-area pt-100 pb-70">
<div class="container">
<div class="section-title text-center mb-50">
<span>خدمات ما</span>
                   
                <div class="service-item-area owl-carousel owl-theme">
                    <div class="service-item">
                        <a href="service-details.html" class="service-item-icon">
                            <i class="flaticon-swimming"></i>
                        </a>
                        <a href="service-details.html" class="service-head">
                            <h3>شنا  </h3>
                        </a>
                        <p>
                            ورزش شنا یکی از محبوبترین ورزشها در بین اقشار مختلف مردم است. فردی که شنا می کند، نه تنها از این  طریق احساس راحتی و نشاط می کند بلکه در اثر شنا کردن قابلیتهای جسمانی خود را از قبیل استقامت دستگاه گردش خون و تنفس، قدرت، سرعت و انعطاف پذیری مفاصل شانه و مچ پا افزایش می دهد.
                        </p>
                        

                        <a href="news-details.html" class="news-icon">
                          ادامه خواندن 
                        </a>
                        
                    </div>

                    <div class="service-item">
                        <a href="service-details.html" class="service-item-icon">
                            <i class="flaticon-teacher"></i>
                        </a>
                        <a href="service-details.html" class="service-head">
                            <h3>آموزش شنا  </h3>
                        </a>
                        <p>
                            آموزش شنا یکی از مهمترین آموزش هایی است که توصیه می شود، حتی کسانی که قصد شنا کردن را ندارند، نیز آموزش ببینند. آموزش شنا برای محافظت از جان خودتان، عزیزانتان و جلوگیری از غرق شدن حائز اهمیت است. زیرا امکان خطر در هر شرایطی وجود دارد.
                             </p>
                             <a href="news-details.html" class="news-icon">
                                ادامه خواندن 
                              </a>
                    </div>

                    <div class="service-item">
                        <a href="service-details.html" class="service-item-icon">
                            <i class="flaticon-flipper"></i>
                        </a>
                        <a href="service-details.html" class="service-head">
                            <h3>تجهیزات شنا</h3>
                        </a>
                        <p>
                            مایو ، کلاه شنا ، عینک شنا ، پافین
                        </p>
                    </div>

                    <div class="service-item">
                        <a href="service-details.html" class="service-item-icon">
                            <i class="flaticon-swimming"></i>
                        </a>
                        <a href="service-details.html" class="service-head">
                            <h3>انواع شنا </h3>
                        </a>
                        <p>
                            شنا کرال سینه ، شنا قورباغه ، شنا پروانه ،شنا کرال پشت 
                        </p>
                        <a href="news-details.html" class="news-icon">
                            ادامه خواندن 
                          </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service Area End -->

        

        <!-- Product Area -->
        <section class="product-area pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center mb-50">
                   <h2>تجهیزات مورد نیاز خود را خریداری کنید</h2>
                </div>
                {%block align%}{%endblock%}
          
            </div>
        </section>
        <!-- Product Area End -->

        <!-- Footer Area -->
        <footer class="footer-area">
            <div class="footer-top pt-100 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="footer-content">
                                
                               
    
                                <div class="footer-social">
                                    <ul>
                                        
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>
    
                            </div>
                        </div>
    
                        <div class="col-lg-2 col-sm-6">
                            <div class="footer-list">
                                <h3>خدمات ما</h3>
                                <ul>
                                    
                                    
                                    <li>
                                        <a href="courses.html">دوره های شنا</a>
                                    </li>
                                    
                                   
                                    <li>
                                        <a href="services.html">یادگیری شنا</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">تجهیزات</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-list ml-50">
                               
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-list">
                                <h3>تماس با ما</h3>
                                <ul>
                                    <li>
                                        <a href="tel:09903379549">
                                            <i class="fas fa-mobile-alt"></i>
                                            09903379549
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="mailto:sepideh.shahbazi1992@gmail.com">
                                            <i class="far fa-envelope"></i>
                                           sepideh.shahbazi1992.com
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                    شهرکرد ، فرهنگیان استخر شهدای غواص
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="bottom-list">
                                <ul>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->
         
        
<script src="{%static 'project/assets/js/jquery-3.5.1.slim.min.js'%}"></script>

<script src="{%static 'project/assets/js/bootstrap.bundle.min.js'%}"></script>

<script src="{%static 'project/assets/js/owl.carousel.min.js'%}"></script>

<script src="{%static 'project/assets/js/jquery.magnific-popup.min.js'%}"></script>

<script src="{%static 'project/assets/js/meanmenu.js'%}"></script>

<script src="{%static 'project/assets/js/jquery.nice-select.min.js'%}"></script>

<script src="{%static 'project/assets/js/wow.min.js'%}"></script>

<script src="{%static 'project/assets/js/jquery.ajaxchimp.min.js'%}"></script>

<script src="{%static 'project/assets/js/form-validator.min.js'%}"></script>

<script src="{%static 'project/assets/js/contact-form-script.js'%}"></script>

<script src="{%static 'project/assets/js/custom.js'%}"></script>
        
    </body>
</html>