<!doctype html>
<html lang="fa" dir="rtl">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Dobby - Swimming & Scuba Diving HTML Template" >
        <meta name="description" content="Dobby - Swimming & Scuba Diving HTML Template">
        <meta name="author" content="Barat Hadian">

<link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">

<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

<link rel="stylesheet" href="assets/css/magnific-popup.css">

<link rel="stylesheet" href="assets/css/animate.min.css">

<link rel="stylesheet" href="assets/fonts/flaticon.css">

<link rel="stylesheet" href="assets/css/fontawesome.css">

<link rel="stylesheet" href="assets/css/nice-select.min.css">

<link rel="stylesheet" href="assets/css/meanmenu.css">

<link rel="stylesheet" href="assets/css/style.css">

<link rel="stylesheet" href="assets/css/responsive.css">

<link rel="stylesheet" href="assets/css/rtl.css">
        
        <!-- Title -->
        <title>Dobby - قالب HTML دوبی , پوسته سایت آموزش شنا و غواصی</title>
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/img/favicon.png">
    </head>

    <body>
        <!-- Start Preloader -->
        <div class="preloader">
            <div class="preloader-wave"></div>
        </div>
        <!-- End Preloader -->

        <!-- Start Heder Area -->
        <header class="header-area top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="header-left">
                            <ul>
                                <li>
                                    <i class="fas fa-clock"></i>
                                    شنبه - پنجشنبه (10:00 صبح - 6:00عصر)
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    ایران ، استان تهران ، میدان آزادی
                                </li>
                                <li>
                                    <a href="tel:021-12345678">
                                        <i class="fas fa-phone-alt"></i>
                                        021-12345678
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>  
                                    <a href="#" target="_blank">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Heder Area -->

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="index.html" class="logo">
                    <img src="assets/img/logo.png" alt="Logo">
                </a>
            </div>

            <!-- Menu For Desktop Device -->
            <div class="main-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light ">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/img/logo.png" alt="Logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        خانه 
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">
                                                صفحه اصلی 1
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-two.html" class="nav-link">
                                                صفحه اصلی 2
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        صفحات 
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="appointments.html" class="nav-link">
                                                قرار ملاقات
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="instructor.html" class="nav-link">
                                                مربی
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="courses.html" class="nav-link">
                                                دوره ها
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="pricing.html" class="nav-link">
                                                قیمت گذاری
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="testimonials.html" class="nav-link">
                                                بازخورد مشتریان
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="terms-condition.html" class="nav-link">
                                                قوانین و ضوابط
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">
                                                حریم خصوصی
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="404.html" class="nav-link">
                                                خطای 404
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">
                                                سوالات متداول
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="login.html" class="nav-link">
                                                ورود
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="register.html" class="nav-link">
                                                ثبت نام 
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="about.html" class="nav-link">
                                        درباره ما
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        خدمات 
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="services.html" class="nav-link">
                                                خدمات ما 
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="service-details.html" class="nav-link">
                                                خدمات جداگانه 
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="gallery.html" class="nav-link">
                                        گالری
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        اخبار 
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="news.html" class="nav-link">
                                                اخبار وبلاگ
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="news-details.html" class="nav-link">
                                                اخبار جداگانه 
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                        فروشگاه 
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="shop.html" class="nav-link">
                                                فروشگاه
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="cart.html" class="nav-link">
                                                سبد خرید
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="checkout.html" class="nav-link">
                                                بررسی محصول
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="shop-details.html" class="nav-link active">
                                                فروشگاه جداگانه
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="contact.html" class="nav-link">
                                        تماس با ما
                                    </a>
                                </li>
                            </ul>

                            <div class="other-side">
                                <div class="search-area">
                                    <div class="other-option">
                                        <div class="search-item">
                                            <a href="#" class="search-btn">
                                                <i class="flaticon-magnifying-glass"></i>
                                            </a>
                                            <i class="close-btn fas fa-times"></i>
                                            <div class="search-overlay search-popup">
                                                <div class="search-box">
                                                    <form class="search-form">
                                                        <input class="search-input" name="search" placeholder="جستجو" type="text">
                                                        <button class="search-button" type="submit">
                                                            <i class="flaticon-magnifying-glass"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="search-text">
                                    جستجو
                                </div>
                            
                                <div class="cart-area">
                                    <a class="cart-icon" href="cart.html">
                                        <i class="flaticon-shopping-cart"></i>
                                        <p>سبد خرید <span>(2)</span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
        
        <!-- Inner Banner -->
        <div class="inner-banner bg-shape2 bg-color5">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="conatiner">
                        <div class="inner-title text-center">
                            <h3>فروشگاه جداگانه</h3>
                            <ul>
                                <li>
                                    <a href="index.html">صفحه اصلی</a>
                                </li>
                                <li>
                                    <i class="fas fa-chevron-left"></i>
                                </li>
                                <li>
                                    فروشگاه جداگانه
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->

        <!-- Shop-Detls -->
        <section class="shop-detls ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="shop-detls-image">
                            <img src="assets/img/product/shop-detl.jpg" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="shop-desc">
                            <h3>جلیقه نجات</h3>
                            <div class="price">
                                <span class="new-price">12000 تومان</span>
                                <span class="old-price">21000 تومان</span>
                            </div>

                            <div class="shop-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <a href="#" class="rating-count">3 مشاهده</a>
                            </div>
                            <p>
                                لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.  لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. 
                            </p>

                            <div class="shop-add">
                                <div class="input-counter">
                                    <span class="minus-btn"><i class="fas fa-minus"></i></span>
                                    <input type="text" min="1" value="1">
                                    <span class="plus-btn"><i class="fas fa-plus"></i></span>
                                </div>
                                <button type="submit" class="shop-btn">
                                    <i class="fas fa-cart-plus"></i> افزودن سبد خرید
                                </button>
                            </div>

                            <div class="buy-checkbox-btn">
                                <div class="item">
                                    <input class="inp-cbx" id="cbx" type="checkbox">
                                    <label class="cbx" for="cbx">
                                        <span>من با شرایط و ضوابط موافقم</span>
                                    </label>
                                </div>

                                <div class="item">
                                    <a href="#" class="btn btn-buy">خرید کنید!</a>
                                </div>
                            </div>

                            <div class="custom-payment">
                                <span>پرداخت مطمئن تضمین شده:</span>

                                <div class="payment-methods">
                                    <a href="#"><img src="assets/img/product/add1.svg" alt="image"></a>
                                    <a href="#"><img src="assets/img/product/add2.svg" alt="image"></a>
                                    <a href="#"><img src="assets/img/product/add3.svg" alt="image"></a>
                                    <a href="#"><img src="assets/img/product/add4.svg" alt="image"></a>
                                    <a href="#"><img src="assets/img/product/add5.svg" alt="image"></a>
                                    <a href="#"><img src="assets/img/product/add6.svg" alt="image"></a>
                                    <a href="#"><img src="assets/img/product/add7.svg" alt="image"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                   <div class="col-lg-12 col-md-12">
                        <div class="tab shop-detls-tab">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <ul class="tabs">
                                        <li>
                                            <a href="#"> شرح</a>
                                        </li>
                                        
                                        <li>
                                            <a href="#">اطلاعات </a>
                                        </li>

                                        <li>
                                            <a href="#"> بازدیدها </a>
                                       </li>
                                    </ul>
                                </div>
                                
                                <div class="col-lg-12 col-md-12">
                                    <div class="tab_content current active">
                                        <div class="tabs_item current">
                                            <div class="shop-detls-tab-content">
                                                <p>
                                                    ورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.  ورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. ورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. 
                                                </p>
                                            </div>
                                        </div>

                                        <div class="tabs_item ">
                                            <div class="shop-detls-tab-content">
                                                <ul class="additional-information">
                                                    <li><span>برند:</span>اسپارکو</li>
                                                    <li><span>رنگ:</span>زرد</li>
                                                    <li><span>اندازه:</span> متوسط</li>
                                                    <li><span>وزن:</span> 250 گرم</li>
                                                    <li><span>ابعاد:</span> 16 x 22 x 123 سانتی متر</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="tabs_item">
                                            <div class="shop-detls-tab-content">
                                                <div class="shop-review-form">
                                                    <h3>نظرات مشتری</h3>
                                                    <div class="review-title">
                                                        <div class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                        </div>
                                                        <p>بر اساس 3 بررسی</p>
                                                        <a href="#" class="default-btn btn-right">نظر بنویسید <span></span></a>
                                                    </div>

                                                    <div class="review-comments">
                                                        <div class="review-item">
                                                            <div class="rating">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                            </div>
                                                            <h3>عالی</h3>
                                                            <span><strong>مدیر</strong> در <strong>21 دی 1398</strong></span>
                                                            <p>
                                                                لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. 
                                                            </p>
                                                            <a href="#" class="review-report-link">گزارش کاربر</a>
                                                        </div>

                                                        <div class="review-item">
                                                            <div class="rating">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                            </div>
                                                            <h3>عالی</h3>
                                                            <span><strong>مدیر</strong> در <strong>21 دی 1398</strong></span>
                                                            <p>
                                                                لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. 
                                                            </p>
                                                            <a href="#" class="review-report-link">گزارش کاربر</a>
                                                        </div>

                                                        <div class="review-item">
                                                            <div class="rating">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                            </div>
                                                            <h3>عالی</h3>
                                                            <span><strong>مدیر</strong> در <strong>21 دی 1398</strong></span>
                                                            <p>
                                                                لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. 
                                                            </p>
                                                            <a href="#" class="review-report-link">گزارش کاربر</a>
                                                        </div>
                                                    </div>

                                                    <div class="review-form">
                                                        <h3>نظر بدهید</h3>
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control" placeholder="نام شما">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <input type="email" class="form-control" placeholder="ایمیل شما">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control" placeholder="موضوع">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <textarea class="form-message" rows="5" placeholder="شرح پیام"></textarea>
                                                            </div>
                                                            <button type="submit" class="btn-submit">ارسال نظر</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Shop-Detls End -->

        <!-- Footer Area -->
        <footer class="footer-area">
            <div class="footer-top pt-100 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="footer-content">
                                <div class="footer-conten-title">
                                    <a href="index.html"><img src="assets/img/logo.png" alt="Logo"></a> 
                                    <p>
                                        لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.
                                    </p>
                                </div>
                                
                                <div class="newsleter-area">
                                    <h3>عضویت خبرنامه</h3>
                                    <form class="newsletter-form" data-toggle="validator">
                                        <input type="email" class="form-control" placeholder="آدرس ایمیل" name="EMAIL" required autocomplete="off">
    
                                        <button class="subscribe-btn" type="submit">
                                            مشترک شدن
                                        </button>
    
                                        <div id="validator-newsletter" class="form-result"></div>
                                    </form>
                                </div>
    
                                <div class="footer-social">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
    
                            </div>
                        </div>
    
                        <div class="col-lg-2 col-sm-6">
                            <div class="footer-list">
                                <h3>خدمات ما</h3>
                                <ul>
                                    <li>
                                        <a href="services.html">خدمات شنا</a>
                                    </li>
                                    <li>
                                        <a href="services.html">خدمات غواصی</a>
                                    </li>
                                    <li>
                                        <a href="courses.html">دوره های شنا</a>
                                    </li>
                                    <li>
                                        <a href="courses.html">دوره های غواصی</a>
                                    </li>
                                    <li>
                                        <a href="services.html">یادگیری شنا</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">تجهیزات</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-list ml-50">
                                <h3>لینک های سریع</h3>
                                <ul>
                                    <li>
                                        <a href="faq.html">سوالات متداول</a>
                                    </li>
                                    <li>
                                        <a href="services.html">خدمات</a>
                                    </li>
                                    <li>
                                        <a href="#">حرفه</a>
                                    </li>
                                    <li>
                                        <a href="courses.html">دوره ها</a>
                                    </li>
                                    <li>
                                        <a href="privacy-policy.html">حریم خصوصی</a>
                                    </li>
                                    <li>
                                        <a href="terms-condition.html">قوانین و مقررات</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-list">
                                <h3>تماس با ما</h3>
                                <ul>
                                    <li>
                                        <a href="tel:021-12345678">
                                            <i class="fas fa-mobile-alt"></i>
                                            021-12345678
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:021-12345678">
                                            <i class="fas fa-mobile-alt"></i>
                                            021-12345678
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:email@dobby.com">
                                            <i class="far fa-envelope"></i>
                                            email@dobby.com
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:hello@dobby.com">
                                            <i class="far fa-envelope"></i>
                                            hello@dobby.com
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        ایران ، استان تهران ، میدان آزادی
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="bottom-list">
                                <ul>
                                    <li>
                                        <a href="index.html">صفحه اصلی</a>
                                    </li>
                                    <li>
                                        <a href="about.html">درباره</a>
                                    </li>
                                    <li>
                                        <a href="services.html">خدمات</a>
                                    </li>
                                    <li>
                                        <a href="gallery.html">گالری</a>
                                    </li>
                                    <li>
                                        <a href="news.html">اخبار</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">فروشگاه</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">تماس با ما</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="bottom-text">
                                <p>کپی رایت © 1400 دوبی. تمام حقوق قالب محفوظ است . طراحی و توسعه توسط <a href="https://www.rtl-theme.com/author/barat" target="_blank">Barat Hadian</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->


<script src="assets/js/jquery-3.5.1.slim.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/owl.carousel.min.js"></script>

<script src="assets/js/jquery.magnific-popup.min.js"></script>

<script src="assets/js/meanmenu.js"></script>

<script src="assets/js/jquery.nice-select.min.js"></script>

<script src="assets/js/wow.min.js"></script>

<script src="assets/js/jquery.ajaxchimp.min.js"></script>

<script src="assets/js/form-validator.min.js"></script>

<script src="assets/js/contact-form-script.js"></script>

<script src="assets/js/custom.js"></script>
        
    </body>
</html>