{%extends "project/master2.html"%}
{%block content%}
{%load static%}
<div class="section-title text-center mb-50">
    <h2>آخرین تجهیزات غواصی و شنا</h2>
</div>

<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="product-item">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <a href="{{s.id}}.html">
                            <img src="{%static 'project/assets/img/product/'%}{{s.ax}}" alt="Product Images">
                        </a>
                        <div class="product-cotent">
                            <div class="product-text">
                                <a href="/show/{{s.id}}"> 
                                    <h3>{{shop.onvan}} </h3>
                                </a>
                                <span>{{shop.price}} تومان</span>
                            </div>
                            <a href="#" class="add-product">
                                <i class="flaticon-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>
{%endblock%}

{%block title%}
<div class="conatiner">
    <div class="inner-title text-center">
        <h3>فروشگاه</h3>
        <ul>
            <li>
                <a href="\">صفحه اصلی</a>
            </li>
            <li>
                <i class="fas fa-chevron-left"></i>
            </li>
            <li>
                فروشگاه
            </li>
        </ul>
    </div>
</div>



{%endblock%}