
<!doctype html>
<html lang="fa" dir="rtl">
    <head>
        {%load static%}
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Dobby - Swimming & Scuba Diving HTML Template" >
        <meta name="description" content="Dobby - Swimming & Scuba Diving HTML Template">
        <meta name="author" content="Barat Hadian">

        <link rel="stylesheet" href="{%static 'project/assets/css/bootstrap.rtl.min.css'%}">

        <link rel="stylesheet" href="{%static 'project/assets/css/owl.carousel.min.css'%}">
        <link rel="stylesheet" href="{%static 'project/assets/css/owl.theme.default.min.css'%}">
        
        <link rel="stylesheet" href="{%static 'project/assets/css/magnific-popup.css'%}">
        
        <link rel="stylesheet" href="{%static 'project/assets/css/animate.min.css'%}">
        
        <link rel="stylesheet" href="{%static 'project/assets/fonts/flaticon.css'%}">
        
        <link rel="stylesheet" href="{%static 'project/assets/css/fontawesome.css'%}">
        
        <link rel="stylesheet" href="{%static 'project/assets/css/nice-select.min.css'%}">
        
        <link rel="stylesheet" href="{%static 'project/assets/css/meanmenu.css'%}">
        
        <link rel="stylesheet" href="{%static 'project/assets/css/style.css'%}">
        
        <link rel="stylesheet" href="{%static 'project/assets/css/responsive.css'%}">
        
        <link rel="stylesheet" href="{%static 'project/assets/css/rtl.css'%}">
                
        
        <!-- Title -->
        <title>آکادمی شنا</title>
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{%static 'project/assets/img/favicon.png'%}">
    </head>

    <body>
        

        <!-- Start Heder Area -->
        <header class="header-area top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="header-left">
                            <ul>
                                <li>
                                    <i class="fas fa-clock"></i>
                                    شنبه - پنجشنبه (10:00 صبح - 6:00عصر)
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    ایران ، استان تهران ، میدان آزادی
                                </li>
                                <li>
                                    <a href="tel:021-12345678">
                                        <i class="fas fa-phone-alt"></i>
                                        021-12345678
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>  
                                    <a href="#" target="_blank">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Heder Area -->

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="index.html" class="logo">
                    <img src="assets/img/logo.png" alt="Logo">
                </a>
            </div>

            <!-- Menu For Desktop Device -->
            <div class="main-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light ">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/img/logo.png" alt="Logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        خانه 
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">
                                                صفحه اصلی 1
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-two.html" class="nav-link">
                                                صفحه اصلی 2
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        صفحات 
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="appointments.html" class="nav-link">
                                                قرار ملاقات
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="instructor.html" class="nav-link">
                                                مربی
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="courses.html" class="nav-link">
                                                دوره ها
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="pricing.html" class="nav-link">
                                                قیمت گذاری
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="testimonials.html" class="nav-link">
                                                بازخورد مشتریان
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="terms-condition.html" class="nav-link">
                                                قوانین و ضوابط
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">
                                                حریم خصوصی
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="404.html" class="nav-link">
                                                خطای 404
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">
                                                سوالات متداول
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="login.html" class="nav-link">
                                                ورود
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="register.html" class="nav-link">
                                                ثبت نام 
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="about.html" class="nav-link">
                                        درباره ما
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        خدمات 
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="services.html" class="nav-link">
                                                خدمات ما 
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="service-details.html" class="nav-link">
                                                خدمات جداگانه 
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="gallery.html" class="nav-link">
                                        گالری
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        اخبار 
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="news.html" class="nav-link">
                                                اخبار وبلاگ
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="news-details.html" class="nav-link">
                                                اخبار جداگانه 
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                        فروشگاه 
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="shop.html" class="nav-link active">
                                                فروشگاه
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="cart.html" class="nav-link">
                                                سبد خرید
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="checkout.html" class="nav-link">
                                                بررسی محصول
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="shop-details.html" class="nav-link">
                                                فروشگاه جداگانه
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="contact.html" class="nav-link">
                                        تماس با ما
                                    </a>
                                </li>
                            </ul>

                            <div class="other-side">
                                <div class="search-area">
                                    <div class="other-option">
                                        <div class="search-item">
                                            <a href="#" class="search-btn">
                                                <i class="flaticon-magnifying-glass"></i>
                                            </a>
                                            <i class="close-btn fas fa-times"></i>
                                            <div class="search-overlay search-popup">
                                                <div class="search-box">
                                                    <form class="search-form">
                                                        <input class="search-input" name="search" placeholder="جستجو" type="text">
                                                        <button class="search-button" type="submit">
                                                            <i class="flaticon-magnifying-glass"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="search-text">
                                    جستجو
                                </div>
                            
                                <div class="cart-area">
                                    <a class="cart-icon" href="cart.html">
                                        <i class="flaticon-shopping-cart"></i>
                                        <p>سبد خرید <span>(2)</span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
        
        <!-- Inner Banner -->
        <div class="inner-banner bg-shape3 bg-color5">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="conatiner">
                        <div class="inner-title text-center">
                            <h3>فروشگاه</h3>
                            <ul>
                                <li>
                                    <a href="index.html">صفحه اصلی</a>
                                </li>
                                <li>
                                    <i class="fas fa-chevron-left"></i>
                                </li>
                                <li>
                                    فروشگاه
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->

        <!-- Product Area -->
         <section class="product-area pt-94 pb-70">
            <div class="container">
                <div class="section-title text-center mb-50">
                    <h2>آخرین تجهیزات غواصی و شنا</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <div class="row">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="product-item">
                                        <a href="{{s.id}}.html">
                                            <img src="{%static 'project/assets/img/product/'%}{{s.ax}}" alt="Product Images">
                                        </a>
                                        <div class="product-cotent">
                                            <div class="product-text">
                                                <a href="/show/{{s.id}}"> 
                                                    <h3>{{shop.onvan}} </h3>
                                                </a>
                                                <span>{{shop.price}} تومان</span>
                                            </div>
                                            <a href="#" class="add-product">
                                                <i class="flaticon-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                    
                </div>
            </div>
        </section>
        <!-- Product Area End -->

        <!-- Footer Area -->
        <footer class="footer-area">
            <div class="footer-top pt-100 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="footer-content">
                                <div class="footer-conten-title">
                                    <a href="index.html"><img src="assets/img/logo.png" alt="Logo"></a> 
                                    <p>
                                        لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.
                                    </p>
                                </div>
                                
                                <div class="newsleter-area">
                                    <h3>عضویت خبرنامه</h3>
                                    <form class="newsletter-form" data-toggle="validator">
                                        <input type="email" class="form-control" placeholder="آدرس ایمیل" name="EMAIL" required autocomplete="off">
    
                                        <button class="subscribe-btn" type="submit">
                                            مشترک شدن
                                        </button>
    
                                        <div id="validator-newsletter" class="form-result"></div>
                                    </form>
                                </div>
    
                                <div class="footer-social">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
    
                            </div>
                        </div>
    
                        <div class="col-lg-2 col-sm-6">
                            <div class="footer-list">
                                <h3>خدمات ما</h3>
                                <ul>
                                    <li>
                                        <a href="services.html">خدمات شنا</a>
                                    </li>
                                    <li>
                                        <a href="services.html">خدمات غواصی</a>
                                    </li>
                                    <li>
                                        <a href="courses.html">دوره های شنا</a>
                                    </li>
                                    <li>
                                        <a href="courses.html">دوره های غواصی</a>
                                    </li>
                                    <li>
                                        <a href="services.html">یادگیری شنا</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">تجهیزات</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-list ml-50">
                                <h3>لینک های سریع</h3>
                                <ul>
                                    <li>
                                        <a href="faq.html">سوالات متداول</a>
                                    </li>
                                    <li>
                                        <a href="services.html">خدمات</a>
                                    </li>
                                    <li>
                                        <a href="#">حرفه</a>
                                    </li>
                                    <li>
                                        <a href="courses.html">دوره ها</a>
                                    </li>
                                    <li>
                                        <a href="privacy-policy.html">حریم خصوصی</a>
                                    </li>
                                    <li>
                                        <a href="terms-condition.html">قوانین و مقررات</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-list">
                                <h3>تماس با ما</h3>
                                <ul>
                                    <li>
                                        <a href="tel:021-12345678">
                                            <i class="fas fa-mobile-alt"></i>
                                            021-12345678
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:021-12345678">
                                            <i class="fas fa-mobile-alt"></i>
                                            021-12345678
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:email@dobby.com">
                                            <i class="far fa-envelope"></i>
                                            email@dobby.com
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:hello@dobby.com">
                                            <i class="far fa-envelope"></i>
                                            hello@dobby.com
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        ایران ، استان تهران ، میدان آزادی
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="bottom-list">
                                <ul>
                                    <li>
                                        <a href="index.html">صفحه اصلی</a>
                                    </li>
                                    <li>
                                        <a href="about.html">درباره</a>
                                    </li>
                                    <li>
                                        <a href="services.html">خدمات</a>
                                    </li>
                                    <li>
                                        <a href="gallery.html">گالری</a>
                                    </li>
                                    <li>
                                        <a href="news.html">اخبار</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">فروشگاه</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">تماس با ما</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="bottom-text">
                                <p>کپی رایت © 1400 دوبی. تمام حقوق قالب محفوظ است . طراحی و توسعه توسط <a href="https://www.rtl-theme.com/author/barat" target="_blank">Barat Hadian</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->
      
        <script src="{%static 'project/assets/js/jquery-3.5.1.slim.min.js'%}"></script>

        <script src="{%static 'project/assets/js/bootstrap.bundle.min.js'%}"></script>
        
        <script src="{%static 'project/assets/js/owl.carousel.min.js'%}"></script>
        
        <script src="{%static 'project/assets/js/jquery.magnific-popup.min.js'%}"></script>
        
        <script src="{%static 'project/assets/js/meanmenu.js'%}"></script>
        
        <script src="{%static 'project/assets/js/jquery.nice-select.min.js'%}"></script>
        
        <script src="{%static 'project/assets/js/wow.min.js'%}"></script>
        
        <script src="{%static 'project/assets/js/jquery.ajaxchimp.min.js'%}"></script>
        
        <script src="{%static 'project/assets/js/form-validator.min.js'%}"></script>
        
        <script src="{%static 'project/assets/js/contact-form-script.js'%}"></script>
        
        <script src="{%static 'project/assets/js/custom.js'%}"></script>
        
    </body>
</html>